.description-container {
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}


.description-section {
  text-align: center;
  color: var(--text-color);
  max-width: 60%;
  margin: 0 auto;
  color: var(--primary-alt-color)
}


.description-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary-alt-color)
}

.description-section h1:last-child {
  margin-bottom: 60px;
}


.description-section p {
  margin: 10px 0 40px;
  font-size: 1em;
}



.space {
  padding: 1%;
}


/* ID Card Container for Flex Layout */
.id-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


/* Standard ID Card Styling */
.id-card,
.id-card-center {
  flex: 1 1 200px;
  max-width: 300px;
  min-width: 200px;
  padding: 20px;
  background-color: var(--primary-alt-color);
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 10px;
  text-align: center;
}


/* Hover Effect for Cards */
.id-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
}


/* Image Styling Inside Cards */
.id-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}
