.card-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 50px 5%;
    padding: 0 2% 50px 2%;
    overflow-y: visible;
    background-color: var(--background-color);
    width: 100%;
    color: var(--text-color);
    justify-content: center;
    /* alternative solution:
    flex-wrap: wrap;
    flex-direction: row; */
}

@media (max-width: 1400px) {
    .card-container {
        grid-template-columns: repeat(3, 300px);
    }
}


@media (max-width: 1050px) {
    .card-container {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 700px) {
    .card-container {
        grid-template-columns: repeat(1, 300px);
    }
}

.pagination .page-item .page-link{
    background-color: var(--background-color);
    color: var(--primary-alt-color)
}
