.slideshow {
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshowbox {
  top: 50%;
  left: 50%;
  padding: 2%;
  border-radius: 5vw;
  font-size: clamp(16px, calc(1vw + 1vh), 24px);
  max-width: 50%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 100%,
    rgba(97, 97, 97, 0.5) 100%
  );
  color: var(--primary-color);
} 

.facts-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.facts-container ul {
  list-style-type: none;
  padding: 0;
}

.facts-container ul li {
  padding: 10px 0;
  border-bottom: 1px solid var(--text-alt-color);
  font-size: 1.5em;
}

.facts-container ul li:last-child {
  border-bottom: none;
}

.center-text {
  /* text-align: center; */
  border-radius: 25px;
  font-size: clamp(16px, calc(1vw + 1vh), 24px);
  color: var(--primary-color);
  padding: 1%;
  border: 2px solid #ffffff; /* Example border color */
  background-color: var(--primary-alt-color); /* Example background color */
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a slight shadow for depth */
  width: 90%;
  /* margin-left: 15%; */
  align-self: center;
  text-align: center;
}

.center-text p {
  border-radius: 0px;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-title {
  text-align: center;
  color: var(--text-color);
}

.story-title {
  font-size: clamp(24px, calc(2vw + 2vh), 36px);
  text-align: center;
  color: var(--text-color);
}

.story-image {
  border-radius: 35%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 40%;
}


/* FAQ Section Container */
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the FAQ items horizontally */
  width: 70%; /* Ensures the container takes full width */
  /* max-width: 800px; Adjust this value to fit your design */
  margin: auto; /* This centers the container within its parent */
}

/* FAQ Item */
.faq-item {
  width: 100%; /* Makes each FAQ item take the full width of the container */
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  overflow: hidden;
  margin-bottom: 1rem; /* Adds space between FAQ items */
}

/* FAQ Question */
.faq-question {
  background-color: var(--primary-alt-color);
  color: var(--primary-color);
  cursor: pointer;
  padding: 1rem;
  border: none;
  text-align: center;
  width: 100%; /* Ensures the question button takes full width */
  font-weight: 600;
  transition: background-color 0.3s;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.faq-question:hover {
  cursor: url('/src/images/custom_cursor/cornhover.png'), auto;
}

/* FAQ Answer */
.faq-answer {
  padding: 1rem;
  background-color: var(--primary-alt-color);
  color: var(--primary-color);
  display: none; /* Initially hidden */
  width: 100%; /* Ensures answers take the full width of their parent */
  box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
  transition: all 0.3s ease-in-out;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.faq-question:hover {
  background-color: var(--primary-alt-color);
}

.faq-answer.active {
  display: block; /* Shows the answer when active */
}

/* Add this to your existing CSS file */
.slide-in-element {
  transform: translateY(20px); /* Adjust for desired slide-in effect */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.slide-in-element.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

