/* .instance-page {
    align-items: center;
    background-color: var(--background-color);
}

.instance-data {
    flex-direction: row;
    flex-wrap: wrap;
    
}

.instance-text-data {
    flex-direction: column;
    margin: 0 0 0 20px;
}

.flex-div.instance-text-data {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: grey;
} */

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Adjust gap between elements */
  margin-bottom: 20px; /* Space before the next section */
  align-self: center;
  color: --var(--text-color);
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}

.content-wrapper .name {
    font-weight: bold;
    font-size: 20px;
}

.large-img-container {
  margin: 0 20px;
  /* flex-basis: 50%; Adjust based on your preference */
  background-color: var(--primary-color);
  overflow: hidden;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.flex-div {
  display: flex;
}

.instance-text-data {
  flex-direction: column;
  flex-basis: 50%; /* Adjust based on your preference */
}

.instance-attr {
  margin-bottom: 10px; /* Space between attributes */
  /* Additional styling as needed */
}

.back-link {
  text-decoration: none;
  color: #0056b3; /* Link color */
  font-weight: bold;
  margin-top: 20px; /* Space above the back link */
}

.section-title {
  text-align: center;
  margin: 20px 0; /* Space above and below the title */
  color: var(--primary-alt-color)
}

.map-iframe-container {
  text-align: center;
  max-width: 100%; /* Ensures it doesn't overflow its container */
  margin: auto; /* Center it */
  display: flex;
  width: auto;
  /* overflow: scroll; */
  overflow-x:visible;
}



/* Additional styles for CardContainer if needed */
