.instance-card {
    /* background-color: #7a7a7aba; */
    background-color: var(--primary-alt-color);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(209, 194, 194, 0.977);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    /* aspect-ratio: 1;
    display: 'flex';
    overflow: 'hidden';  */
}

.instance-card .name {
    font-weight: bold;
    font-size: 20px;
}


.instance-card:hover {
    transform: translateY(1px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
}