.navbar {
  /* background-color: #202020; */
  background-color: var(--primary-alt-color);
  /* color: white; */
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* min-height: 8%; */
  text-align: center;
}

.nav-link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 3% 0 3%;
  align-items: center;
}

.navbar .links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  font-size: 115%;
  align-items: center;
}

.navbar .links a {
  color: var(--primary-color);
  text-decoration: none;
  /* padding: 0.5% 1.4%; */
}

.navbar .links a:hover {
  transform: translateY(2%);
  transition: 0s;
  background-color: rgba(74, 74, 74, 0.5);
  border-radius: 5px;
}

.website-name {
  padding: 0;
  margin: 1% 1%;
  font-size: 150%;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 24px;
  margin: 0;
  padding: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.switch:hover {
  cursor: url('/src/images/custom_cursor/cornhover.png'), auto;
}

/* The slider */
.slider {
  display: flex;
  position: relative;
  cursor: pointer;
  height: 24px;
  width: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  align-items: center;
  justify-content: center;
}

.slider:before {
  display: flex;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  transform: translateX(-8px);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.sliderAlign {
  display: "flex"; 
  align-items: center;
  gap: "10px"; 
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 1350px) {
  .navbar {
    font-size: 12px;
  }
}

@media (max-width: 1022px) {
  .navbar .links {
    display: block;
    flex-grow: 1;
  }
}