body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  height: 100%
}

h1, h2, h3 {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

#root {
  display: flex;
}

:root {
  /* Uniform Color Between Both Themes For Specific Sections*/
  --slideshowbox-color: #fffdd0;
}

/* Themes Color Palette */
:root[data-theme="light"] {
  --primary-color: #fffdd0;
  --primary-alt-color: #483C32;
  --primary-color-transparent: rgba(255, 253, 208, 0.6);
  --text-color: #483C32;
  --text-alt-color: #8b4513;
  --accent-text-color: #FF4500;
  --accent-alt-text-color: #ff8c00;
  --section-color-1: #ffd700;
  --section-color-2: #ff7450;
  --section-color-3: #e2725b;
  --hover-active-state: #f4c430;
  --hover-active-state-alt: #ffbf00;
  --button-color: #fffdd0;
}

:root[data-theme="dark"] {
  --primary-color: #736089; 
  --primary-alt-color: #1a1a1a;
  --primary-color-transparent: rgba(115, 96, 137, 0.6);
  --text-color: #eae0c8;
  --text-alt-color: #FFD700;
  --accent-text-color: #FF7F50;
  --accent-alt-text-color: #F4C430;
  --section-color-1: #ffd700;
  --section-color-2: #2b5dc1;
  --section-color-3: #2b5dc1;
  --hover-active-state: #ffbf00;
  --hover-active-state-alt: #e2725b;
  --button-color: #1a1a1a;
}

.flex-div {
  display: flex;
  cursor: url('/src/images/custom_cursor/corncursor.png'), auto;
}

a, button {
  cursor: url('/src/images/custom_cursor/cornhover.png'), auto;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  /* min-height: 200px;
  min-width: 200px; */
  overflow: 'hidden';
  background-color: var(--primary-alt-color);
}

.large-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 400px;
  min-height: 400px;
  min-width: 400px;
  overflow: 'hidden';
  background-color: rgb(248, 248, 248);
}

@media (max-width: 400px) {
  .large-img-container {
    width: 300px; 
    height: 300px;
    min-height: 300px;
    min-width: 300px;
  }
}


a:visited { color: #9e9eff; }

.page-background {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  flex-direction: column;
  width: 100vw;
  min-height: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 1% 20px 1%;
  flex-direction: row;
}

mark {
  background-color: yellow;
  color: black;
  padding: 0;
  margin: 0;
}